* {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.titulo {
  text-align: center;
  color: #f0f;
}
.centrar {
  max-width: 50%;
  margin: auto;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000;
}
a {
  color: #f0f;
  text-decoration: none;
  padding: 10px;
  border: solid 1px solid #000;
  background-color: powderblue;
}
a:hover {
  background-color: crimson;
}
table {
  border-collapse: collapse;
  max-width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

